---
---
@charset "UTF-8";

@import "main";
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Barlow');

body,  {
    background-color: #fff;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 280%;
    font-variant: 300;
}

h2 {
    font-family: 'Barlow';
    font-size: 160%;
}

p, li{
    font-family: 'Barlow';
    font-size: 100%
}

td.blue td.red {
    min-width: 100px;
}

td.blue {
    background-color: #BBDCEF;
    color: transparent;
}

td.red {
    background-color: #C3003D;
    color: transparent;
}

button {
    background-color: #BBDCEF;
    border: none;
}

.button {
    color: #fff;
    border-bottom: none;
}

.navbar {
    background-color: white !important;
}

.dropdown-item {
    max-width: 500px !important;
    white-space: normal !important;
}

.logo-huisstijl {
    max-width: 50%;
}

.logo-huisstijl2 {
    max-width: 27%;
}

.img-mockup {
    max-width: 45%;
    float: left;
    margin-right: 10px;
}
.img-mockup-big {
    max-width: 20%;
    float: left;
    margin-right: 10px;
}